<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
</head>
<body>
    <%- include("header") %>

    <a href="/employees/create">Agrega un empleado</a>

    <ul>
    <% allEmployees.forEach(employee => { %>
        <li class="employee">
            <a href="/employees/<%= employee.id %>"><%= employee.nombre_completo %></a>
            <a href="/employees/<%= employee.id %>/edit">Editar</a>
            <form action="/employees/<%= employee.id %>/delete" method="post">
                <button type="submit">Eliminar</button>
            </form>
        </li>
    <% }) %>
    </ul>
</body>
</html>