<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Editar empleado</title>
</head>

<body>
    <%- include("header") %>

        <h1>Editar empleado</h1>
        <form action="/employees/<%= employee.id %>/edit" method="post">
            <div class="form-field">
                <label for="cuit">Cuit</label>
                <input type="number" name="cuit" id="cuit" value="<%= employee.cuit %>">
            </div>
            <div class="form-field">
                <label for="nombre_completo">Nombre completo</label>
                <input type="text" name="nombre_completo" id="nombre_completo" value="<%= employee.nombre_completo %>">
            </div>
            <div class="form-field">
                <label for="puesto">Puesto</label>
                <input type="text" name="puesto" id="puesto" value="<%= employee.puesto %>">
            </div>
            <div class="form-field">
                <label for="fecha_de_ingreso">Fecha de ingreso</label>
                <input type="date" name="fecha_de_ingreso" id="fecha_de_ingreso" value="<%= employee.fecha_de_ingreso %>">
            </div>
            <div class="form-field">
                <label for="obra_social">Obra social</label>
                <input type="text" name="obra_social" id="obra_social" value="<%= employee.obra_social %>">
            </div>
            <div class="form-field">
                <label for="antiguedad">Antiguedad</label>
                <input type="number" name="antiguedad" id="antiguedad" value="<%= employee.antiguedad %>">
            </div>
            <div class="form-field">
                <label for="modalidad">Modalidad</label>
                <input type="text" name="modalidad" id="modalidad" value="<%= employee.modalidad %>">
            </div>
            <div class="form-field">
                <label for="dias_trabajados">Dias trabajados</label>
                <input type="number" name="dias_trabajados" id="dias_trabajados" value="<%= employee.dias_trabajados %>">
            </div>
            <div class="form-field">
                <label for="salario_basico">Salario basico</label>
                <input type="number" name="salario_basico" id="salario_basico" value="<%= employee.salario_basico %>">
            </div>
            <div class="form-field">
                <label for="secundario">Titulo secundario</label>
                <input type="checkbox" name="secundario" id="secundario" <%= employee.secundario ? "checked" : "" %> >
            </div>

            <button type="submit">Editar empleado</button>
        </form>
</body>

</html>